{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "darkenchat": {
      "type": "local",
      "command": ["npx", "-y", "https://cheny-files.oss-cn-beijing.aliyuncs.com/darkenchat-0.2.0.tgz"],
      "enabled": true
    }
  }
}
